
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
h1{
    font-family: 'Dancing Script', cursive;
background-color: #FFEF01;
}

body{background-color: #00ADF1;}



h1{
text-align: center;
}
h2{
text-align: center;
}
p{
    text-align: justify;
    background-color: ;
}

